# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Give a table of Data Science Tools 
- Examples of evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Pandas
4. Matplotlib
5. SciPy

|Data Science Tools|
| ---------------- |
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Julani Summers